{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
  <title>BNB USDT</title>
  <script>
    function startRobot(){
      let stategy = document.getElementById("select-strategy").value()
      let ammount = document.getElementById("select-lot").value()
      fetch('/start/?' + strategy + ";" + ammount)
        .then(res => res.text())
        .then(response => {
          document.getElementById('resultado').innerHTML = response;
        })
        .catch(error => console.error('Error:', error));
    }
  </script>
  <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>
  <h1>Trading Bot</h1>
  <div class="gallery">
    <div class="rendered-form">
      <div class="formbuilder-select form-group field-select-strategy">
        <label for="select-strategy" class="formbuilder-select-label">Strategy<span
            class="formbuilder-required">*</span></label>
        <select class="form-control" name="select-strategy" id="select-strategy" required="required"
          aria-required="true">
          <option value="SimpleBot" selected="true" id="select-strategy-0">SimpleBot</option>
          <option value="TrendingBot" selected="true" id="select-strategy-0">TrendingBot</option>
        </select>
      </div>
      <div class="formbuilder-select form-group field-select-lot">
        <label for="select-lot" class="formbuilder-select-label">Lot Size</label>
        <select class="form-control" name="select-lot" id="select-lot">
          <option value="0.001" selected="true" id="select-lot-0">0.001</option>
        </select>
      </div>
    </div>
    <button onClick="startRobot()">
      <h1>Iniciar Operações</h1>
    </button>
    <div id="resultado">
      <h1>{{ robots }}</h1>

    </div>
  </div>
</body>

</html>