{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
  <title>BNB USDT</title>
  <script>
    function startRobot(){
      let strategy = document.getElementById("select-strategy").value;
      let ammount = document.getElementById("select-lot").value;
      fetch('/start/' + strategy + "/" + ammount)
        .then(res => res.text())
        .then(response => {
          document.getElementById('resultado').innerHTML = response;
        })
        .catch(error => console.error('Error:', error));
    }
    function stopRobot(){
      fetch('/stop/')
        .then(res => res.text())
        .then(response => {
          document.getElementById('resultado').innerHTML = response;
        })
        .catch(error => console.error('Error:', error));
    }    
  </script>
  <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>
  <h1>Trading Bot</h1>
  <div class="gallery">
    <div class="rendered-form">
      <div class="formbuilder-select form-group field-select-strategy">
        <label for="select-strategy" class="formbuilder-select-label">Strategy<span
            class="formbuilder-required">*</span></label>
        <select class="form-control" name="select-strategy" id="select-strategy" required="required"
          aria-required="true">
          <option value="SimpleBot" selected="true" id="select-strategy-0">SimpleBot</option>
          <option value="TrendingBot" selected="true" id="select-strategy-0">TrendingBot</option>
        </select>
      </div>
      <div class="formbuilder-select form-group field-select-lot">
        <label for="select-lot" class="formbuilder-select-label">Lot Size</label>
        <select class="form-control" name="select-lot" id="select-lot">
          <option value="0.0015" selected="true" id="select-lot-0">0.0015</option>
          <option value="0.002" selected="true" id="select-lot-1">0.002</option>
          <option value="0.003" selected="true" id="select-lot-2">0.003</option>
          <option value="0.0035" selected="true" id="select-lot-3">0.0035</option>
          <option value="0.005" selected="true" id="select-lot-4">0.005</option>
          <option value="0.02" selected="true" id="select-lot-4">0.02</option>
        </select>
      </div>
    </div>
    <button onClick="startRobot()">
      <h1>Iniciar Operações</h1>
    </button>
    <button onClick="stopRobot()">
      <h1>Parar Operações</h1>
    </button>
    <div id="resultado">
      <h1>{{ robots }}</h1>

    </div>
  </div>
</body>

</html>